.header{
    display: flex;
    color: #FFFFFF;
    justify-content: space-between;
    margin: 15px;
    
}

.toggle{
    color: #00BD2B;
    cursor: pointer;
}

.CardWrapper{
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 18px;
    margin: 15px;
}