.left {
    cursor: pointer;
    position: absolute;
    left: 10px;
    top: 20%;
    z-index: 1;
}

.right {

    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 20%;
    z-index: 1;
}


