.navbar {
    /* background-color: var(--color-primary); */
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: #00BD2B;
    height: 74px;
    padding: 0px 30px;
    width: 100%;
    gap: 0px;
    opacity: 0px;
  }
  