.search {
    padding: 14px 20px;
    height: 100%;
    border-radius: 8px 0px 0px 8px;
    border: 1px solid black;
    width: 502px;
    /* width: 20rem; */
  }
  
  .wrapper {
    /* display: flex;
    align-items: stretch;
    height: 48px;
    margin: auto; */
    display: flex;
    align-items: stretch;
    width: 568px;
    height: 48px;
    top: 13px;
    left: 436px;
    gap: 0px;
    border-radius: 8px 0px 0px 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;


  }
  
  .searchButton {
    width: 66px;
    height: 48px;
    top: 13px;
    left: 938px; 
    gap: 0px;
    border-radius: 0px 8px 8px 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;

  }
  
  /* .listElement {
    padding: 15px;
    display: flex;
    justify-content: space-between;
  }
  
  .albumTitle {
    font-size: 16px;
  }
  
  .albumArtists {
    font-size: 12px;
  } */
  